<h2 mat-dialog-title class="title"> Ласкаво просимо</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Електронна пошта">
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Ім'я користувача">
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Пароль">
      <!-- <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon> -->
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Відміна</button>
  <button mat-raised-button color="primary"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">Вхід</button>
</div>
