<aside class="navbarLeft">
    <div class="navbarLeft-content">
        <div class="logoLink"
             title="BluePrintHub by Colt">
            <img src = 'https://i.ibb.co/M2wWRR1/colt.jpg'>
        </div>

        <div *ngFor="let item of items"
             class="item">
            <div (click)="item.handler()"
                 nz-tooltip
                 [nzTooltipTitle]="item.tooltip"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <i class="text-xl text-white"
                   nz-icon
                   [nzType]="item.icon"
                   nzTheme="outline"></i>
            </div>
        </div>

        <div class="flex-auto"></div>
        <mat-toolbar color="primary">
        <div *ngIf="!authorizedUser" class="header-content auth-area">
            <p class="atuin-btn" (click)="openAuthDialog(dialogType.SignIn)">Sign<br> In</p> 
           
            <p class="atuin-btn" color="white" (click)="openAuthDialog(dialogType.SignUp)">Sign<br> Up</p>
          
          <div *ngIf="authorizedUser" class="header-content" [matMenuTriggerFor]="menu">
            <img class="avatar avatar-size" src="{{authorizedUser.avatar}}" alt="Ava">
            <div class="user-area">
              <div>{{authorizedUser.userName}}</div>
              <mat-menu #menu="matMenu" xPosition="before">
                <div mat-menu-item [routerLink]="['/profile']">Go to profile</div>
                <div mat-menu-item (click)="logout()"><u>Logout</u></div>
              </mat-menu>
            </div>
          </div>
          </div>
        </mat-toolbar>

        <div class="item"
             *ngIf="authQuery.user$ | async as user">
            <div nz-tooltip
                 [nzTooltipTitle]="user.name"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <j-avatar class="flex"
                          [avatarUrl]="user.avatarUrl"
                          [size]="26">
                </j-avatar>
            </div>
        </div>
    


    </div>
</aside>

<ng-template #aboutPopoverTmpl>
    <div class="about-popover">
        <p class="mb-2">This is a Jira clone built with Angular, Akita and ng-zorro</p>
        <p class="mb-2">Thanks a bunch for stopping by and supporting me!</p>
        <p class="mb-3">Reach out to me via <a class="font-semibold"
               href="email:trungk18@gmail.com">trungk18@gmail.com</a></p>
        <a href="https://trungk18.com/"
           target="_blank">
            <j-button className="btn-primary">Visit My Blog</j-button>
        </a>
    </div>
</ng-template>